:root {
    --color-real-black: #222;
    --color-black: #333;
    --color-grey: #ccc;
    --color-white: #eee;
    --color-primary: #00abc7;
    --color-secondary: #40a3b3;
    --color-tertiary: #3093a3;
    --color-danger: #a33;
}